    body {
        font-family: "Inter", sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: #2f2c2c;
        color: #fff;
    }

    html *,
    body * {
        cursor: auto;
    }

    .section {
        position: relative;
        height: 100vh;
        cursor: default; 
    }

    .section h1,
    .section h2,
    .section p,
    .section .links,
    .section h5,
    .section li {
        position: absolute;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .section h1 {
        font-family: 'Poppins', sans-serif; 
        top: 20%;
        left: 50%;
        font-size: 8em;
        font-weight: 800;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid white;
    }

    .section2 p {
        font-family: 'Rubik', sans-serif;
        top: 100%; 
        left: 50%;
        width: 80%;
        max-width: 32em;
        line-height: 1.7;
        font-weight: 300;
        font-size: 1.2em; 
    }
    
    #section1 p {
        font-family: 'Rubik', sans-serif;
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 32em;
        line-height: 1.7;
        font-weight: 300;
        font-size: 5em; 
    }

    .section h1.typed {
        border-right: none;
    }

    .section h2 {
        font-family: 'Optima', sans-serif; 
        top: 30%;
        left: 50%;
        font-weight: 600;
        font-size: 2.5em;
    }
    .section h2 span {
        color: transparent; 
        -webkit-text-stroke: 2px #fff; 
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 0.5em; 
        display: inline-block;
    }

    .section p {
        font-family: 'Rubik', sans-serif; 
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 32em;
        line-height: 1.7;
        font-weight: 300;
        font-size: 2em;
    }

    .section .links {
        top: 50%;
        left: 50%;
    }

    .section h5 {
        top: 70%; 
        left: 50%;
        font-size: 1.5em;
    }

    .section h5.bottom-text {
        position: absolute;
        bottom: 90%; 
        left: 50%;
        font-size: 1.5em;
    }

    .section li {
        top: 70%;
        left: 50%;
        font-size: 2em;
        margin-bottom: 1em;
        line-height: 4;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        font-size: 2em;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
        transition: 0.5s ease;
        font-size: 1.2em;
    }

    a:hover {
        color: rgba(255, 255, 255, 0.5);
        border-bottom-color: rgba(255, 255, 255, 0.1);
    }

    p {
        width: 80%;
        max-width: 32em;
        margin: 0 auto 1em;
        line-height: 1.7;
        font-weight: 300;
        font-size: 1.2em;
    }

    hr {
        border: 0;
        height: 2px;
        width: 3em;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 auto 1em;
    }

    h1+hr {
        margin: 0 auto 2em;
    }

    .App {
        position: relative;
        z-index: 1;
    }

    #section3 ul,
    #section4 ul,
    #section5 ul {
        margin-top: 3em;
        line-height: 2;
    }

    .section .links a {
        margin-right: 20px;
    }

    .section .links a:last-child {
        margin-right: 0;
    }

    #menu {
        position: fixed;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        transition: top 0.5s ease;
    }

    #menu.show {
        top: 25px;
    }

   #menu a {
        margin: 0 15px;
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 600;
        border: 2px solid #fff;
        border-radius: 30px;
        padding: 10px 20px;
        transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    }
    h1, h2, p, .links, h5, li, a {
        color: #FAF9F6; 
    }

    #menu a:hover {
        background-color: #FAF9F6;
        color: #0D0907; 
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7;
        animation: rainbowGlow 2s linear infinite;
    }

    @keyframes rainbowGlow {
        0% { box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7; }
        25% { box-shadow: 0 0 10px #fff, 0 0 20px #FF4081, 0 0 40px #03A9F4, 0 0 80px #673AB7, 0 0 160px #9C27B0; }
        50% { box-shadow: 0 0 10px #fff, 0 0 20px #03A9F4, 0 0 40px #673AB7, 0 0 80px #9C27B0, 0 0 160px #FFEB3B; }
        75% { box-shadow: 0 0 10px #fff, 0 0 20px #673AB7, 0 0 40px #9C27B0, 0 0 80px #FFEB3B, 0 0 160px #FF4081; }
        100% { box-shadow: 0 0 10px #fff, 0 0 20px #9C27B0, 0 0 40px #FFEB3B, 0 0 80px #FF4081, 0 0 160px #03A9F4; }
    }

    .audio-controls {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        cursor: pointer;
    }

    .play-pause-btn {
        font-size: 18px;
        color: #fff;
        opacity: 0.4; 
    }

    /* Gradient animation background */
    html, body {
        width: 100%;
        height:100%;
    }

    body {
        background: linear-gradient(-45deg, #E4665C, #424F60, #003041, #F9B189);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    /* Explore button */
    .explore-button {
        position: absolute;
        top: 70%; 
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        display: inline-block;
        margin-top: 10px; 
        padding: 15px 30px;
        font-size: 1.5em;
        font-weight: bold;
        color: #FAF9F6;
        background: transparent;
        border: 2px solid #FAF9F6;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    }

    .explore-button:hover {
        background-color: #FAF9F6;
        color: #0D0907;
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7;
        transform: translate(-50%, -50%) scale(1.1);
    }
    #section3 {
        position: relative;
    }

    .education-image {
        display: block;
        margin: 9em auto 1em;
        max-width: 100%;
        height: auto;
        max-height: 40vh; 
    }

    #section3 ul {
        margin-top: 4em; 
    }

    #section3 h1,
    #section3 ul {
        position: relative;
        z-index: 1;
    }


    #section2 img {
            display: block;
            margin: 0 auto; 
            max-width: 100%;
            height: auto;
            max-height: 25vh; 
            position: relative;
            top: 19.5em; 
        }

    #section2 p {
        margin-top: 8em; 
    }
    
    #sectionHUD {
        position: fixed;
        top: 50%;
        right: 10px; 
        transform: translateY(-50%);
        z-index: 1000;
    }

    .hud-circle {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        margin-bottom: 30px; 
        transition: background-color 0.3s ease;
        margin-right: 60px; 
    }

    .hud-circle.active {
        background-color: #FAF9F6; 
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7, 0 0 200px #FFEB3B; /* Adjust the box-shadow for a brighter effect */
    }
    
    #section4 {
        position: relative;
        text-align: center;
        color: #fff;
    }

    #section4 h1 {
        top: 20%;
        left: 50%;
        font-weight: 600;
    }

    #section4 ul {
        top: 70%;
        left: 50%;
        font-size: 1em;
    }

    #section4 video {
        display: block;
        margin: 0 auto; 
        max-width: 30%; 
        height: auto;
        border: 4px solid #fff; 
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2f2c2c; /* Set the background color of the video container */
        transition: box-shadow 0.3s ease; 
    }

    #section4 video:hover {
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7; /* Glow effect on hover */
    }
    #section4 iframe {
        width: 560px;
        height: 315px;
        border: 4px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2f2c2c;
        transition: box-shadow 0.3s ease;
    }

    #section4 iframe:hover {
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7;
    }
    #section2 img,
    #section3 .education-image,
    #section4 iframe {
        transition: box-shadow 0.3s ease; 
    }

    #section2 img:hover,
    #section3 .education-image:hover,
    #section4 iframe:hover {
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7;
    }
    #section5 li {
        position: absolute;
        bottom: 15%; 
        left: 50%;
        font-size: 2em;
        margin-bottom: 0.5em;
        line-height: 4;
        transform: translateX(-50%);
    }
    .tiktok-embed-container {
        position: relative;
        overflow: hidden;
        max-width: 100%;
    }

    .tiktok-embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .tiktok-embed {
        background-color: transparent; 
        max-width: 80%; 
        margin: 0 auto; 
    }

    .custom-size {
        max-width: 350px; 
        min-width: 50px; 
        width: 100%;
        height: 700px; 
    }
    .custom-size iframe {
        position: absolute;
        top: 50%; 
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.8); 
        transform-origin: top center; 
    }
    .image-container {
        position: relative;
        overflow: hidden;
    }

    .image-container img {
        transition: transform 0.3s ease;
    }

    .image-container:hover img {
        transform: scale(1.2);
    }
    #section6:hover .explore-button {
        background-color: #FAF9F6;
        color: #0D0907;
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7;
        transform: translate(-50%, -50%) scale(1.1);
    }
    #section2 img,
    #section3 .education-image,
    #section4 iframe {
        transition: box-shadow 0.3s ease, transform 0.3s ease; 
    }

    #section2 img:hover,
    #section3 .education-image:hover,
    #section4 iframe:hover {
        box-shadow: 0 0 10px #fff, 0 0 20px #FFEB3B, 0 0 40px #FF4081, 0 0 80px #03A9F4, 0 0 160px #673AB7;
        transform: scale(1.2);
    }
    #section6 .email-link:hover {
        color: #3367d6;
        box-shadow: 0 0 10px rgba(51, 103, 214, 0.8);
    }
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        display: none;
        z-index: 999;
        animation: fadeInOut 2.5s ease;
    }

    @keyframes fadeInOut {
        0% { opacity: 0; }
        10% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
    }